/* Reseteo de márgenes y padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: rgb(0, 0, 0);
}

h1{
  font-size: 26px;
  line-height: 32px;
  color: #ffffff;
  font-weight: 600;
  text-transform: uppercase;
}

p{
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  margin-bottom: 20px;
}

a{
  cursor: pointer;
}

h2{
  font-size: 30px;
  color: #fff;
}

h3{
  font-size: 10px;
}

.header-main {
  width: 100%;
  height: 60px;
  background-color: rgb(255, 0, 0);
  display: flex;
  justify-content: space-between;
  color: white;

  position: fixed; /* Hace que el header esté fijo */
  top: 0;          /* Lo posiciona en la parte superior */
  z-index: 1000; /* Asegura que el header esté por encima de otros elementos */
}

.header-main-logo{
  width: fit-content;
  height: 100%;
  display: flex;
  padding-left: 60px;
}

.header-main-logo img{
  height: 40px;
  align-self: center;
}

.header-main-nav{
  width: fit-content;
  height: 100%;
  margin-left: 50px;
}

.header-main-nav ul {
  list-style: none; /* para que no aparezcan los puntitos*/
}

.header-main-nav li {
  display: inline;
  float: left;
}

/* para cambiar el texto como tal, y no el espacio o posicion*/
.header-main-nav ul li a {
  text-decoration: none;
  padding: 0 20px;
  font-family: Arial;
  line-height: 60px;
  color: white;
  display: block;
  height: 100%;
}

.header-main-nav ul li a:hover {
  color: rgb(0, 0, 0);
}

.header-main-sm{
  width: fit-content;
  height: 100%;
  padding-right: 60px;
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.header-main-sm-twt {
  width: 43px;
  height: 35px;
  background-image: url(../images/twitter.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.header-main-sm-wrl {
  width: 40px;
  height: 40px;
  background-image: url(../images/world.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.button {
  background: var(--color-back);
  border-radius: 0.5em;
  box-shadow:
    inset 0px -6px 18px -6px rgba(3, 15, 20, 0),
    inset rgba(54, 69, 75, 1) -1px -1px 6px 0px,
    inset 12px 0px 12px -6px rgba(3, 15, 20, 0),
    inset -12px 0px 12px -6px rgba(3, 15, 20, 0),
    rgba(54, 69, 75, 1) -1px -1px 6px 0px;
  border: solid 2px #ffffff;
  cursor: pointer;
  font-size: 18px;
  padding: 0.7em 1.7em;
  outline: none;
  transition: all 0.3s;
  user-select: none;
}

.button:hover {
  box-shadow:
    inset 0px -6px 18px -6px rgb(255, 0, 0),
    inset 0px 6px 18px -6px rgb(255, 0, 0),
    inset 12px 0px 12px -6px rgba(255, 0, 0, 0),
    inset -12px 0px 12px -6px rgba(3, 15, 20, 0),
    -1px -1px 6px 0px rgb(75, 54, 54);
}

.button:active {
  box-shadow:
    inset 0px -12px 12px -6px rgba(3, 15, 20, 1),
    inset 0px 12px 12px -6px rgba(3, 15, 20, 1),
    inset 12px 0px 12px -6px rgba(3, 15, 20, 1),
    inset -12px 0px 12px -6px rgba(3, 15, 20, 1),
    -1px -1px 6px 0px rgba(54, 69, 75, 1);
}

.text {
  color: #d0a756;
  font-weight: 700;
  margin: auto;
  transition: all 0.3s;
  width: fit-content;
}

.button:hover .text {
  transform: scale(0.9);
}

.button:active .text {
  transform: scale(0.8);
}

/* From Uiverse.io by nikk7007 */ 
.btn {
  --color: #ff0000;
  --color2: rgb(0, 0, 0);
  padding: 0.8em 1.75em;
  background-color: transparent;
  border-radius: 6px;
  border: .3px solid var(--color);
  transition: .5s;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  z-index: 1;
  font-weight: 300;
  font-size: 17px;
  font-family: 'Roboto', 'Segoe UI', sans-serif;
  text-transform: uppercase;
  color: var(--color);
 }
 
 .btn::after, .btn::before {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  transform: skew(90deg) translate(-50%, -50%);
  position: absolute;
  inset: 50%;
  left: 25%;
  z-index: -1;
  transition: .5s ease-out;
  background-color: var(--color);
 }
 
 .btn::before {
  top: -50%;
  left: -25%;
  transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
 }
 
 .btn:hover::before {
  transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
 }
 
 .btn:hover::after {
  transform: skew(45deg) translate(-50%, -50%);
 }
 
 .btn:hover {
  color: var(--color2);
 }
 
 .btn:active {
  filter: brightness(.7);
  transform: scale(.98);
 }

 /**/

 .butFooter {
  --color: #000000;
  --color2: rgb(255, 0, 0);
  padding: 0.8em 1.75em;
  background-color: transparent;
  border-radius: 6px;
  border: .3px solid var(--color);
  transition: .5s;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  z-index: 1;
  font-weight: 300;
  font-size: 17px;
  font-family: 'Roboto', 'Segoe UI', sans-serif;
  text-transform: uppercase;
  color: var(--color);
 }
 
 .butFooter::after, .butFooter::before {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  transform: skew(90deg) translate(-50%, -50%);
  position: absolute;
  inset: 50%;
  left: 25%;
  z-index: -1;
  transition: .5s ease-out;
  background-color: var(--color);
 }
 
 .butFooter::before {
  top: -50%;
  left: -25%;
  transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
 }
 
 .butFooter:hover::before {
  transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
 }
 
 .butFooter:hover::after {
  transform: skew(45deg) translate(-50%, -50%);
 }
 
 .butFooter:hover {
  color: var(--color2);
 }
 
 .butFooter:active {
  filter: brightness(.7);
  transform: scale(.98);
 }


 /*
.butFooter {
  cursor: pointer;
  position: relative;
  padding: 10px 24px;
  font-size: 18px;
  color: rgb(193, 163, 98);
  border: 2px solid rgb(193, 163, 98);
  border-radius: 34px;
  background-color: transparent;
  font-weight: 600;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
  overflow: hidden;
}

.butFooter::before {
  content: '';
  position: absolute;
  inset: 0;
  margin: auto;
  width: 50px;
  height: 50px;
  border-radius: inherit;
  scale: 0;
  z-index: -1;
  background-color: rgb(193, 163, 98);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.butFooter:hover::before {
  scale: 3;
}

.butFooter:hover {
  color: #212121;
  scale: 1.1;
  box-shadow: 0 0px 20px rgba(193, 163, 98,0.4);
}

.butFooter:active {
  scale: 1;
}*/


